<nav class="navbar jarvisnav">
  
    <a href="/logout">
      <button class="btn" id="navlogout">Logout</button>
          </a>
      <p id="navlogo">Jarvis</p>
      <button type="button" class="btn" data-toggle="modal" data-target="#enterInfoModal">Start Over</button>
  </a>
</nav>

<div class="jumbotron jumbotron-fluid" id="welcome">
  <div class="container">
    <h1 id="title">Jarvis</h1>
    <h3 id="slogan">Empowering Healthcare Choice.</h3>
    <!-- Button trigger modal -->
    <br>
    <button type="button" class="btn" data-toggle="modal" data-target="#enterInfoModal">Click Here to Begin</button>
    <a href="/logout">
      <button class="btn">Logout</button>
    </a>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="enterInfoModal" tabindex="-1" role="dialog" aria-labelledby="enterInfoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enterInfoModalTitle">Enter Your Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <h4 class="user-info">Address:</h4>
          </div>
          <div class="row">
            <form>
              <div id="form-group">
                <!-- Street 1 -->
                <label for="street1_id" class="control-label">Street:</label>
                <input type="text" class="form-control" id="street1_id" name="street1">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div id="form-group">
                    <!-- City-->
                    <label for="city_id" class="control-label">City:</label>
                    <input type="text" class="form-control" id="city_id" name="city">
                  </div>
                </div>
                <div class="col-sm-2">
                  <div id="form-group">
                    <!-- State -->
                    <label for="state_id" class="control-label">State:</label>
                    <input type="text" class="form-control" id="state_id" name="ST">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div id="form-group">
                    <!-- Zip Code-->
                    <label for="zip_id" class="control-label">Zip Code:</label>
                    <input type="text" class="form-control" id="zip_id" name="zip">
                  </div>
                </div>
              </div>
            </form>

          </div>
          <div class="row">
            <div id="form-group">
              <label for="select-list">Select a procedure to price out:</label>
              <select class="form-control" id="select-list">
                <option>Knee Joint</option>

              </select>
              <label for="select-list">Select the furthest you are willing to travel:</label>
              <select class="form-control" id="select-radius" data-id="{{this.radius}}">>
                <option class="miles" value="500">500 miles</option>
                <option class="miles" value="250">250 miles</option>
                <option class="miles" value="100">100 miles</option>
              </select>

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="submit-info" class="btn" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<div id="results">
  <div class="container">
    <div class="row">
      <h2 class="text-center" id="introresults">Below are your results, beginning with the lowest cost option. You may save money if you travel out of your area.</h2>
    </div>

    <div class="row">

      <div class="card-deck col-md-12 first">

        <div class="card" id="card-local">
          <div class="card-body">
            <form role="form">
              <div id="form-check0">
              </div>
            </form>
            <br>
            <h5 class="card-local" id="localoption">This is the lowest cost option in your area:</h5>

            <h5 class="card-header" id="results0"></h5>

            <p class="card-text" id="address0"></p>
            <p class="card-text" id="city0"></p>

            <p class="card-text" id="distance0"></p>
            <br>
            <p class="card-text" id="cost0"></p>
            <p class="card-text" id="drive_cost0"></p>
            <p class="card-text strong" id="totalCost0"></p>

          </div>
        </div>

       
        <div class="card">
          <div class="card-body">
            <form role="form">
              <div id="form-check1">
              </div>
            </form>
               <br>
            <h5 class="card-distance" id="distance1"></h5>

            <h5 class="card-header" id="results1"></h5>
            
            <p class="card-text" id="address1"></p>
            <p class="card-text" id="city1"></p>
            <p class="card-text" id="distance1"></p>
            <br>
            <p class="card-text" id="cost1"></p>
            <p class="card-text" id="drive_cost1"></p>
            <p class="card-text" id="totalCost1"></p>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form role="form">
              <div id="form-check2">
              </div>
            </form>
               <br>
            <h5 class="card-distance" id="distance2"></h5>
            <h5 class="card-header" id="results2"></h5>
            
            <p class="card-text" id="address2"></p>
            <p class="card-text" id="city2"></p>
            <br>
            <p class="card-text" id="cost2"></p>
            <p class="card-text" id="drive_cost2"></p>
            <p class="card-text" id="totalCost2"></p>

          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="card-deck col-md-12 second">
        <div class="card">
          <div class="card-body">
            <form role="form">
              <div id="form-check3">
              </div>
            </form>
               <br>
            <h5 class="card-distance" id="distance3"></h5>

            <h5 class="card-header" id="results3"></h5>
            <p class="card-text" id="address3"></p>
            <p class="card-text" id="city3"></p>
            <br>
            <p class="card-text" id="cost3"></p>
            <p class="card-text" id="drive_cost3"></p>
            <p class="card-text" id="totalCost3"></p>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form role="form">
              <div id="form-check4">
              </div>
            </form>
               <br>
            <h5 class="card-distance" id="distance4"></h5>
            <h5 class="card-header" id="results4"></h5>

            <p class="card-text" id="address4"></p>
            <p class="card-text" id="city4"></p>  

            <br>
            <p class="card-text" id="cost4"></p>
            <p class="card-text" id="drive_cost4"></p>
            <p class="card-text" id="totalCost4"></p>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form role="form">
              <div id="form-check5">
              </div>
            </form>
               <br>
            <h5 class="card-distance" id="distance5"></h5>
            <h5 class="card-header" id="results5"></h5>

            <p class="card-text" id="address5"></p>
            <p class="card-text" id="city5"></p>

            <br>
            <p class="card-text" id="cost5"></p>
            <p class="card-text" id="drive_cost5"></p>
            <p class="card-text" id="totalCost5"></p>
          </div>
        </div>
      
        <br><br>
        <button type="button" class="btn btn-light btn-lg submit-saved">Save Options</button>


  </div>
</div>